@use "global";

.faq_section {
	@include global.background($color: #E8E7E0);
	@include global.padd_mar($pt: 100px, $pb: 100px);

	@media only screen and (max-width: 599px) {
		@include global.padd_mar($pt: 70px, $pb: 70px);
	}

	.row {
		@include global.flex-align($gap: 30px, $justify: space-between);
		
		@media only screen and (max-width: 1024px){
			@include global.flex-align($gap: 10px, $justify: center);
		}
	}

	.content_box {
		@include global.width($width: 100%, $max-width: 535px);

		.title {
			@include global.padd_mar($mb: 35px);
		}

		@media only screen and (max-width: 1024px){
			@include global.width($width: 100%, $max-width: 630px);

			a {
				display: none;
			}

			.title {
				@include global.padd_mar($mb: 0px);
			}
		}
	}

	.content_faq {
		@include global.width($width: calc(100% - 565px), $max-width: 630px);

		@media only screen and (max-width: 1024px){
			@include global.width($width: 100%, $max-width: 630px);
		}

		a {
			@include global.flex;
			@include global.flex-align($justify: space-between, $align: center, $gap: 30px);
			@include global.font($size: 16px, $weight: 500, $color: #030303, $line-height: 21px, $decoration: none);
			@include global.border($width: 0 0 1px 0, $style: solid, $color: #D6D6D6);
			@include global.padd_mar($pb: 20px, $pt: 20px);
			outline: none;

			.faq_text {
				@include global.width($width: calc(100% - 67px));
			}

			.faq_svg {
				width: 37px;
				height: 37px;
				transition: all 0.3s ease-in-out;

				svg {
					width: 100%;
					height: 100%;
				}

			}

			&.active {
				.faq_svg {
					transform: rotate(180deg);
				}
			}

		}

		.faq_content {
			display: none;
			overflow: hidden;

			&.active {
				padding-top: 25px;
			}

			p {
				margin: 0 0 15px;

				&:last-of-type {
					margin-bottom: 0;
				}
			}
		}

	}

	.mobile_btn {
		display: none;

		@media only screen and (max-width: 1024px){
			@include global.flex;
			@include global.flex-align($justify: center);
			@include global.width($width: 100%, $max-width: 630px);
			@include global.padd_mar($mt: 30px);
		}
	}
}