@use "global";

footer {
	@include global.background($color: #fff);
	@include global.padd_mar($pt: 50px, $pb: 30px);

	@media only screen and (max-width: 599px) {
		@include global.padd_mar($pt: 42px, $pb: 40px);
	}

	.row {
		@include global.flex-align($gap: 30px, $justify: space-between);
		
		@media only screen and (max-width: 1024px){
			@include global.flex-align($justify: flex-start);
		}

		@media only screen and (max-width: 599px) {
			@include global.flex-align($gap: 40px);
		}
	}

	.footer_logo {
		@include global.width($width: 100%, $max-width: 122px);
	}

	.footer_navs {
		@include global.flex;
		@include global.flex-align($gap: 92px, $justify: flex-end);
		@include global.width($width: 100%, $max-width: calc(100% - 152px));

		@media only screen and (max-width: 1024px) {
			gap: 30px;
		}

		@media only screen and (max-width: 767px) {
			@include global.width($max-width: 100%);
			@include global.flex-align($gap: 50px 45px, $justify: flex-start);
		}

		@media only screen and (max-width: 599px) {
			@include global.flex-align($direction: column);
		}

		.nav_box {

			h5 {
				@include global.font($size: 16px, $weight: 500, $line-height: 21px, $color: #030303);
				@include global.padd_mar($mt: 0, $mb: 18px);
			}

			ul {
				list-style: none;
				@include global.flex;
				@include global.flex-align($direction: column, $gap: 15px);
				@include global.padd_mar($p: 0, $m:0);
				max-width: 219px;

				li {

					a {
						@include global.width($width: auto);
						@include global.padd_mar($p: 0, $m:0);
						@include global.font($size: 16px, $weight: 400, $line-height: 19px, $color: #030303, $decoration: none);

						&:hover {
							@include global.font($decoration: underline);
						}
					}

				}
			}

			&.two_box {

				@media only screen and (max-width: 991px) {
					max-width: 144px;
				}

				@media only screen and (max-width: 767px) {
					max-width: initial;
				}
				
				ul{
					@include global.flex-align($direction: initial, $justify: space-between);

					@media only screen and (max-width: 599px) {
						@include global.flex-align($direction: column);
					}

					li {
						width: 100%;

						&:first-of-type {
							width: 109px;
						}

						&:nth-of-type(2) {
							width: auto;
						}

					}
				}

			}

			&.mobile_menu {
				display: none;

				@media only screen and (max-width: 599px) {
					display: block;
				}

			}

		}

	}

	.copyright {
		@include global.padd_mar($mt: 50px, $pt: 25px);
		@include global.border($width: 1px 0 0 0, $style: solid, $color: #D6D6D6);

		@media only screen and (max-width: 599px) {
			display: none;
		}

		.row {
			@include global.flex-align($justify: flex-start, $gap: 40px);

			ul {
				list-style: none;
				padding: 0;
				margin: 0;
				width: 100%;
				@include global.flex;
				@include global.flex-align($justify: flex-start, $gap: 40px);
			}

			a {
				@include global.width($width: auto);
				@include global.padd_mar($p: 0, $m:0);
				@include global.font($size: 16px, $weight: 400, $line-height: 19px, $color: #030303, $decoration: none);

				&:hover {
					@include global.font($decoration: underline);
				}
			}

		}
		
	}

}