/* Google Font Import */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600&display=swap');

/* Fonts Related CSS */
@mixin font ($size: '', $weight: '', $style: '', $line-height: '', $color: '', $decoration: '', $letter-spacing: '', $transform: '', $align: '') {
	@if $size != '' {
		font-size: $size;
	}

	@if $weight != '' {
		font-weight: $weight;
	}

	@if $style != '' {
		font-style: $style;
	}

	@if $line-height != '' {
		line-height: $line-height;
	}

	@if $color != '' {
		color: $color;
	}

	@if $decoration != '' {
		text-decoration: $decoration;
	}

	@if $letter-spacing != '' {
		letter-spacing: $letter-spacing;
	}

	@if $transform != '' {
		text-transform: $transform;
	}

	@if $align != '' {
		text-align: $align;
	}
}

/* Flex CSS */
@mixin flex {
	display: flex;
	flex-wrap: wrap;
}

@mixin flex-align ($justify: '', $align: '', $direction: '', $gap: '', $wrap: '') {
	@if $justify != '' {
		justify-content: $justify;
	}

	@if $align != '' {
		align-items: $align;
	}

	@if $direction != '' {
		flex-direction: $direction;
	}

	@if $gap != '' {
		gap: $gap;
	}

	@if $wrap != '' {
		flex-wrap: $wrap;
	}
}

@mixin flex {
	display: flex;
	flex-wrap: wrap;
}

/* padding & Margin CSS */
@mixin padd_mar ($p: '', $m: '', $pt: '', $pb: '', $pl: '', $pr: '', $mt: '', $mb: '', $ml: '', $mr: '') {
	@if $p != '' {
		padding: $p;
	}

	@if $m != '' {
		margin: $m;
	}

	@if $pt != '' {
		padding-top: $pt;
	}

	@if $pb != '' {
		padding-bottom: $pb;
	}

	@if $pl != '' {
		padding-left: $pl;
	}

	@if $pr != '' {
		padding-right: $pr;
	}

	@if $mt != '' {
		margin-top: $mt;
	}

	@if $mb != '' {
		margin-bottom: $mb;
	}

	@if $ml != '' {
		margin-left: $ml;
	}

	@if $mr != '' {
		margin-right: $mr;
	}
}

/* Button CSS */
@mixin button {
	@include font ($size: 16px, $weight: 500, $color: #fff !important, $decoration: none);
	@include padd_mar($pt: 12px, $pb: 12px, $pl: 50px, $pr: 50px);
	background-color: #030303;
	border: 1px solid #030303;
	border-radius: 100px;
	display: inline-block;
}

/* Width & Max-width CSS */
@mixin width ($width: '', $max-width: '') {
	@if $width != '' {
		width: $width;
	}

	@if $max-width != '' {
		max-width: $max-width;
	}
}

/* Border CSS */
@mixin border ($width: '', $style: '', $color: '') {
	@if $width != '' {
		border-width: $width;
	}

	@if $style != '' {
		border-style: $style;
	}

	@if $color != '' {
		border-color: $color;
	}
}

/* Background CSS */
@mixin background ($color: '', $image: '', $position: '', $repeat: '', $size: '', $gradient: '') {
	@if $color != '' {
		background-color: $color;
	}

	@if $image != '' {
		background-image: url($image);
	}

	@if $position != '' {
		background-position: $position;
	}

	@if $repeat != '' {
		background-repeat: $repeat;
	}

	@if $size != '' {
		background-size: $size;
	}

	@if $gradient != '' {
		background: -webkit-$gradient;
		background: -moz-$gradient;
		background: -o-$gradient;
		background: $gradient;
	}
}

/* Element CSS */
body {
	font-family: 'IBM Plex Sans', sans-serif !important;
	font-size: 16px;
	overflow-x: hidden;
	margin-bottom: 0 !important;
}

.entry-content {
	@include padd_mar($mb: 0 !important, $mt: 0 !important)
}

.container {
	max-width: 1310px;
	margin: 0 auto;
	padding: 0 15px;

	.row {
		@include flex;
	}
}

.btn {
	@include button;
}

.btn:hover {
	background-color: transparent;
	color: #030303 !important;
}

.sub_title {
	@include padd_mar($m: 0, $mb: 8px);
	@include font($size: 18px, $weight: 600, $line-height: 22px, $color: #999);

	@media only screen and (max-width: 599px) {
		@include font($size: 16px, $line-height: 20px);
	}
}

.title {
	@include padd_mar($m: 0, $mb: 20px);
	@include font($size: 40px, $weight: 600, $color: #030303, $line-height: 48px);

	@media only screen and (max-width: 599px) {
		@include padd_mar($m: 0, $mb: 15px);
		@include font($size: 23px, $line-height: 31px);
	}
}

.content {
	@include padd_mar($m: 0, $mb: 15px);
	@include font($size: 16px, $weight: 400, $color: #030303, $line-height: 19px);
}

.content:last-of-type {
	@include padd_mar($m: 0);
}