/* Google Font Import */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600&display=swap");
/* Fonts Related CSS */
/* Flex CSS */
/* padding & Margin CSS */
/* Button CSS */
/* Width & Max-width CSS */
/* Border CSS */
/* Background CSS */
/* Element CSS */
body {
  font-family: "IBM Plex Sans", sans-serif !important;
  font-size: 16px;
  overflow-x: hidden;
  margin-bottom: 0 !important;
}

.entry-content {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.container {
  max-width: 1310px;
  margin: 0 auto;
  padding: 0 15px;
}
.container .row {
  display: flex;
  flex-wrap: wrap;
}

.btn {
  font-size: 16px;
  font-weight: 500;
  color: #fff !important;
  text-decoration: none;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: #030303;
  border: 1px solid #030303;
  border-radius: 100px;
  display: inline-block;
}

.btn:hover {
  background-color: transparent;
  color: #030303 !important;
}

.sub_title {
  margin: 0;
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  color: #999;
}
@media only screen and (max-width: 599px) {
  .sub_title {
    font-size: 16px;
    line-height: 20px;
  }
}

.title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  color: #030303;
}
@media only screen and (max-width: 599px) {
  .title {
    margin: 0;
    margin-bottom: 15px;
    font-size: 23px;
    line-height: 31px;
  }
}

.content {
  margin: 0;
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #030303;
}

.content:last-of-type {
  margin: 0;
}

/* Banner CSS */
.banner {
  padding-top: 90px;
  padding-bottom: 212px;
  background-position: right center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-color: #030303;
  position: relative;
  /* Banner Bottom Text */
}
@media only screen and (max-width: 1024px) {
  .banner {
    background-position: left bottom;
    padding-top: 50px;
    padding-bottom: 125px;
  }
}
.banner .banner_text {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.banner .banner_text h1 {
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 52px;
  font-weight: 600;
  line-height: 52px;
  color: #fff;
  width: 100%;
  max-width: 630px;
}
@media only screen and (max-width: 599px) {
  .banner .banner_text h1 {
    margin-bottom: 15px;
    font-size: 35px;
    line-height: 35px;
  }
}
.banner .banner_text p {
  margin-top: 0;
  margin-bottom: 40px;
  width: 100%;
  max-width: 630px;
  font-size: 18px;
  color: #fff;
}
@media only screen and (max-width: 599px) {
  .banner .banner_text p {
    margin-bottom: 35px;
  }
}
.banner .banner_text .banner_button {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 25px;
}
@media only screen and (max-width: 599px) {
  .banner .banner_text .banner_button {
    justify-content: center;
    flex-direction: column;
  }
}
.banner .banner_text .banner_button a {
  color: #999999;
  text-decoration: none;
}
@media only screen and (max-width: 599px) {
  .banner .banner_text .banner_button a {
    width: 100%;
    max-width: 100%;
    text-align: center;
  }
}
.banner .banner_text .banner_button a.btn {
  background-color: #2A63E2;
  border-color: #2A63E2;
  color: #fff;
  padding-left: 30px;
  padding-right: 30px;
}
.banner .banner_text .banner_button a.btn:hover {
  background-color: transparent;
  border-color: #fff;
  color: #fff !important;
}
.banner .banner_bottom {
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: #fff;
  background: -webkit- linear-gradient(180deg, rgba(5, 7, 12, 0) 0%, #05070C 100%);
  background: -moz- linear-gradient(180deg, rgba(5, 7, 12, 0) 0%, #05070C 100%);
  background: -o- linear-gradient(180deg, rgba(5, 7, 12, 0) 0%, #05070C 100%);
  background: linear-gradient(180deg, rgba(5, 7, 12, 0) 0%, #05070C 100%);
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}
.banner .banner_bottom .banner_bottom_text {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
  flex-wrap: nowrap;
  width: 100%;
}
.banner .banner_bottom .banner_bottom_text a {
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  letter-spacing: 0.48px;
  text-transform: uppercase;
  padding-top: 23px;
  padding-bottom: 23px;
}
@media only screen and (max-width: 599px) {
  .banner .banner_bottom .banner_bottom_text a {
    font-size: 14px;
    letter-spacing: 0.39px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

/*# sourceMappingURL=banner.css.map */
